<!DOCTYPE html>
    <head>
        <title>Blinkt Board</title>
        <link rel="stylesheet" href='../static/css/master.css'/>
    </head>

    <body>
        <h1><center>Home Office Notification Board</center></h1>
        <h2> Status: </h2>
	<h3>
	    <a href="/video" class="vbutton">Video Conference</a>
	</h3>
	</br>
        <h3>       
            <a href="/meeting" class="mbutton"> Meeting </a>
        </h3>
	</br>
        <h3>      
            <a href="/working" class="wbutton">Working </a>
        </h3>
	</br>
	<h3>
	    <a href="/done" class="dbutton">Done for the Day</a>
	</h3>
	</br>
        <h3>
            <a href="/off" class="obutton"> Clear </a>
        </h3>         
    </body>
</html>
